.monospace {
	font-family: Consolas, monaco, monospace;
}
.bamboo {
  background-image: url('assets/img/bamboo-wood-texture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hat {
  background: rgb(200, 200, 200);
  position: fixed;
	width: 16cm;
	max-width: 90%;
  top: 30px;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
}
.sm-hat{
	background: rgba(200, 200, 200, 0.9);
  margin: 0px;
  position: fixed;
	width: 90%;
  top: 30px;
  left:50%;
  margin-left: -45%;
}
.mq-editable-field{
  max-width: 100%;
  max-height: 100%;
  margin-top: 0;
  padding-top: 0;
  vertical-align: top;
  border: none;
}
.mq-root-block{
  vertical-align: top;
  margin-top: 0;
  padding-top: 0;
  border: none;
}
.outerpaper{
  margin: auto;
  margin-top: 0;
  margin-bottom: 1cm;
  background-image: url('assets/img/paper-lined.png');
  background-size: 100%;
  width:21cm;
  height:25cm;
  padding-left:3.06cm;
  padding-top:2.719cm;
  padding-right:3.24cm;
}
.single-line{
	overflow: hidden;
  width:14.6cm;
  height:0.6792cm;
  margin:0;
  font-size: 20px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,255,0.9);
  border-bottom-width: 0.03cm
}
.double-line{
  width:14.6cm;
  height:1.358cm;/*1.362 is the magic number here*/
  margin:0;
  background-color: rgba(255,255,255,0.9);
  font-size: 40px;

  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,255,0.9);
  border-bottom-width: 0.03cm
}
.triple-line{
  width:14.6cm;
  height:2.0505cm;
  margin:0;
  background-color: rgba(255,255,255,0.9);
  font-size: 40px;

  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,255,0.9);
  border-bottom-width: 0.03cm
}
.top-spacer{
  margin:3cm;
}
