@media print {
  body {
    margin: 0; padding: 0;
  }
  .hat {
    visibility: hidden;
  }
  .top-spacer{
    visibility: hidden;
    margin: 0;
    padding: 0;
  }
  .outerpaper{
    visibility: visible !important;
    margin: auto;
    margin:0;
    background-image: url('assets/img/paper-lined.png') !important;
    background-size: 100% !important;
    width:21cm;
    height:25cm;
    padding-left:3.06cm;
    padding-top:2.719cm;
    padding-right:3.24cm;
    -webkit-print-color-adjust: exact !important;
    page-break-after: always;
  }
  .line{
  	overflow: hidden !important;
  	width:14.6cm !important;
  	margin:0 !important;
    background-color: rgba(255,255,255,0.9) !important;
  	border-bottom-style: solid !important;
  	border-bottom-color: rgba(0,0,255,0.9) !important;
  	border-bottom-width: 0.03cm !important;
    visibility: visible !important;
  }
  .single-line{
    height:0.6792cm !important;
    font-size: 20px;
  }
  .double-line{
    height:1.358cm !important;/*1.362 is the magic number here*/
    font-size: 40px;
  }
  .triple-line{
    height:2.039cm !important;
    font-size: 40px;
  }
  .quad-line{
    height:2.716cm !important;
    font-size: 40px;
  }
  .five-line{
  	height:3.4cm !important;
  	font-size: 40px;
  }
  .top-spacer{
    margin:3cm;
  }
}
